body {
  background-color: white;
}

.one {
  width: 2%;
  height: 100%;
  background-color: #FF9696;
/*  opposite: #96FFFF;*/
  float: left;
}

.two {
  width: 2%;
  height: 100%;
  background-color: #FFA896;
/*96EDFF*/
  float:left;
}

.three {
  width: 2%;
  background-color: #FFB996;
 /* 96DCFF*/
  height: 100%;
  float: left;
}
